.row{
    width: 321.33px;
    height: 200px;
    display: flex;
    align-items: center;
    align-content: space-around;
    margin: 10px 0 0 0 !important;
}

.l-title{
    max-width: 321.33px;
}

.deers{
    display: flex;
    align-items: center;
    align-content: space-around;
    width: 107.11px;
    height: 107.11px;
    top: 0px;
    left: 0px;
}

.deers:hover {
    border-style: dotted;
    cursor: pointer;
}

img {
    max-width: 90%;
    max-height: 90%;
}

.danger{
    padding-top: 9px;
    padding-bottom: 5px;
    border-radius: 6px;
    background-color: #dc3545 !important;
}

.success{
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 6px;
    background-color: #198754 !important;
}

.disabled-deers{
    cursor: default !important;
    border-style: none !important;
} 

.restart{
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-restart{
    cursor: pointer;
}